@media (min-width:701px){

  .search-button{
    position:relative;
    overflow:hidden;

    /*
    transition:
      width .25s ease,
      background .2s,
      box-shadow .2s,
      transform  .1s;
    */
    transition: all .50s cubic-bezier(.22,.61,.36,1);
  }

  .search-button:hover{
    background:#1557b0;
    box-shadow:0 3px 10px rgba(0,0,0,.20);
  }

  .search-button:active{
    transform:scale(.98);
  }

  .search-button:disabled{
    opacity:.85;
    cursor:wait;
  }

  .searching-text{
    display:inline-block;
  }

  .searching-dots{
    display:inline-block;
    width:20px;
    text-align:left;
  }

  .loading .search-button{
    position:relative;
    align-items:center;
    justify-content:center;
    pointer-events:none;
    background:#5b9cf3;
    color:transparent;
  }

  .loading-text{
    display:none;
}


.search-button.loading{

    width:160px;

}

}
